<!-- <div>
  <h1>Counter</h1>
  <div class="counter-desc">
    <button (click)="decrease()" >-</button>
    <p>count: {{counter}} </p>
    <button (click)="increase()">+</button>
  </div>
</div>

<input type="text" (input)="changeInput($event)">
<h1>Name: {{name}}</h1> -->

<!-- <input type="text" [(ngModel)]="city" value="city">
<p>{{city}}</p>
<button (click)="updateCity()">Update</button> -->

<!-- <h1 class="{{ false ? 'active' : 'inactive' }}">Class binding</h1> -->
<!-- <div class="container">
  <p [style]="myStyle">cbba15684</p>
</div> -->
